body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
  width: 40%;
  margin: 2rem auto;
}

#input-form {
  width: 50%;
  margin-bottom: 3rem;
}

.loader {
  display: none;
  margin: 0 auto;
}

#results-div {
  display: none;
}

@media only screen and (min-width: 500px) {
  .container {
    width: 70%;
    margin: 0 auto;
  }
  #input-form {
    width: 70%;
    margin-bottom: 3rem;
  }
}
