body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#input-form {
  width: 30%;
  margin-bottom: 3rem;
}

.loader {
  display: none;
  margin: 0 auto;
}

#results-div {
  display: none;
}
